{{ define "nav" }}
{{ partial "page-nav.html" . }}
{{ end }}

{{ define "header" }}
{{ partial "post-hero.html" . }}
{{ end }}

{{ define "main" }}
<section class="post--single">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="post__meta">
					<p class="post__meta__type">Post</p>
					<h2 class="post__meta__title">{{ .Title }}</h2>
					{{ if or .Date .Author }}
					<p class="post__meta__byline">
						{{ if .Params.author }}By {{ .Params.author }} on {{ end }}
						{{ if .Date }}<time class="tracked" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00 " }}">{{ .Date.Format "January 2, 2006" }}</time>{{ end }}
					</p>
					{{ end }}
				</div>
				<div class="post__content post__content--single">
					{{ .Content }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}