{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.contact.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.contact.headline .Site.Params.contact.description }}
                    <hr class="primary">
                {{ end }}
                {{ with .Site.Params.contact.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-6">
                        <div class="contact-placeholder">
                            {{ with .Site.Params.contact.street }}
                                <p>{{ . }}</p>
                            {{ end }}
                            {{ range .Site.Params.contact.list }}
                                <div class="contact-container">
                                    <p>{{ .position }}</a></p>
                                    <p class="text-secondary">{{ .name }}</a></p>
                                    <p><a href="mailto:{{ .email }}">{{ .email }}</a></p>
                                    <p><a href="tel:{{ .phone_clean }}">{{ .phone }}</a></p>
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
