{{ "<!-- ABOUT -->" | safeHTML }}
<section id="hope">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                {{ with .Site.Params.hope.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.hope.headline .Site.Params.hope.description }}
                    <hr class="primary">
                {{ end }}
                {{ with .Site.Params.hope.description }}
                    <p class="text-muted">{{ . | markdownify }}</p>
                {{ end }}
                    <a href= {{ .Site.Params.hope.buttonLink }} class="btn btn-default btn-xl">{{ .Site.Params.hope.buttonText }}</a>
                
            </div>
        </div>
    </div>
</section>

