{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ .title }}</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/{{ .img }}" class="img-responsive img-centered" alt="">
                        <p>{{ .description | markdownify }}</p>
                        <ul class="list-inline item-details">
                            <li>{{ with $.Site.Params.portfolio.modal.client }}{{.}}{{ end }}:
                                <strong><a href="{{ .clientLink }}">{{ .client }}</a>
                                    </strong>
                            </li>
                            <li>{{ with $.Site.Params.portfolio.modal.date }}{{.}}{{ end }}:
                                <strong><a href="#">{{ .date }}</a>
                                    </strong>
                            </li>
                            <li>{{ with $.Site.Params.portfolio.modal.category }}{{.}}{{ end }}:
                                <strong><a href="#">{{ .category }}</a>
                                    </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.portfolio.modal.buttonText }}{{.}}{{ end }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
