{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-expand-sm fixed-top">
    {{ with .Site.Params.navigation.brand }}
        <a class="navbar-brand page-scroll" href="#page-top">{{ . | markdownify }}</a>
    {{ end }}
    <ul class="navbar-nav navbar-right" id="navbarNav">
        {{ if and .Site.Params.about .Site.Params.navigation.links.about }}
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#about">{{ .Site.Params.navigation.links.about }}</a>
            </li>
        {{ end }}
        {{ if and .Site.Params.services.list .Site.Params.navigation.links.services }}
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#services">{{ .Site.Params.navigation.links.services }}</a>
            </li>
        {{ end }}
        {{ if and .Site.Data.projects .Site.Params.navigation.links.portfolio }}
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#portfolio">{{ .Site.Params.navigation.links.portfolio }}</a>
            </li>
        {{ end }}
        {{ if and .Site.Params.location .Site.Params.navigation.links.location }}
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#location">{{ .Site.Params.navigation.links.location }}</a>
        </li>
        {{ end }}
        {{ if and .Site.Params.contact .Site.Params.navigation.links.contact }}
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">{{ .Site.Params.navigation.links.contact }}</a>
            </li>
        {{ end }}
    </ul>
</nav>
